@media (max-width: 1002px) {
    .hero {
        text-align: center;
        justify-content: center;
    }

    .hero .container-hero {
        flex-direction: column;
    }

    .hero .hero-image {
        max-width: 450px;
        max-height: 450px;
        padding: 15px;
        margin-top: 40px;
    }

    .about {
        text-align: center;
    }

    .about .container-about {
        flex-direction: column;
        align-items: center;
    }

    .projects .container-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 728px) {
    .projects .container-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects .container-projects a {
        filter: none;
    }

    .projects .container-projects a:hover {
        background-color: #ffffff;
        box-shadow: none;
        transform: scale(1);
        color: var(--color-quartiary);
        filter: none;
    }

    .projects .container-projects a:active {
        background-color: var(--color-primary);
        box-shadow: 0 0 50px 20px rgba(201, 201, 201, 0.305);
        transform: scale(1.1);
        color: #ffffff;
        filter: none;
    }
}

@media (max-width: 350px) {
    .projects .container-projects a {
        width: 250px;
    }
}