body {
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-quartiary);
}

main {
    /* background: #000 url(../images/tech.jpg) no-repeat right bottom fixed ; */
    max-width: 1140px;
}

.hero {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero p {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 4.5rem;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.container-hero ul li a {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: 0.5s;
    box-shadow: -3px -3px 3px rgb(175, 175, 175),
    3px 3px 3px rgb(2, 2, 2);
}

.container-hero ul li a:hover {
    color: var(--color-hover);
}

.container-hero ul li a:active {
    color: var(--color-active);
}

.hero .hero-image {
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px rgb(53, 53, 53), -5px -5px 5px rgb(157, 157, 157);
    padding: 15px;
}

.hero .hero-image img {
    margin: auto;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 5px 5px rgb(53, 53, 53), -5px -5px 5px rgb(157, 157, 157);
}

.about {
    width: 100%;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.about .subtitle-abrout {
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
}

.about .container-about {
    display: flex;
    margin-top: 30px;
    padding: 20px;
    gap: 40px;
}

.container-about-image {
    max-width: 430px;
    max-height: 430px;
    box-shadow: 5px 5px 5px 5px rgb(53, 53, 53), -5px -5px 5px rgb(157, 157, 157);
    padding: 15px;
}

.container-about-image img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 5px 5px rgb(53, 53, 53), -5px -5px 5px rgb(157, 157, 157);
}

.container-about-description {
    font-weight: 300;
} 

.description-about {
    font-size: 1.8rem;
    margin-top: 20px;
}

.container-about-description a {
    padding: 10px 20px;
    background-color: orange;
    border-radius: 15px;
    font-size: 2.4rem;
    margin-top: 20px;
    font-weight: 300;
    box-shadow: -5px -5px 5px;
    transition: 0.5s ease-in-out;
}

.container-about-description a:hover {
    background-color: var(--color-hover);
    box-shadow: -5px -5px 5px;
}

.container-about-description a:active {
    background-color: var(--color-active);
}

.skills {
    width: 100%;
    padding-top: 100px;
}

.skills .container-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skills .subtitle-skills {
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
}

.skills .skill {
    width: 350px;
    text-align: center;
    padding: 40px 20px;
    transition: 0.5s ease-in-out;
}

.skills .skill:hover {
    color: var(--color-primary);
}

.skills .container-skills .name-skill {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.skills .container-skills .description-skill {
    font-size: 1.8rem;
    font-weight: 300;
}

.skills .container-skills .skill .icon {
    width: 80px;
    height: 80px;
    font-size: 80px;
    margin: 0 auto;
}

.projects {
    width: 100%;
    padding: 100px 0;
}

.projects .subtitle-projects {
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
}

.projects .container-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.projects .container-projects .project {
    margin: auto;
    max-width: 270px;
    max-height: 370px;
    position: relative;
}

.projects .container-projects .project img {
    width: 100%;
    transition: 0.3s ease-in-out;
}

.projects .container-projects .project img:hover {
    opacity: 0.8;
}

.projects .informations {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

footer {
    width: 100%;
    padding: 40px;
    text-align: center;
    background-color: rgb(133, 133, 133);
}

footer .contacts {
    font-size: 2rem;
    margin-top: 50px;
}

footer .contacts ul li a {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    box-shadow: 5px 5px 5px rgb(15, 15, 15), -5px -5px 5px rgb(175, 175, 175);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border-radius: 20px;
}